<div style="background: rgb(249, 249, 249); color: rgb(55, 55, 55);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, serif,
    'font-size: 17px; line-height: 24px; max-width: 100%; width: 100% !important; margin: 0 auto; padding: 0;">
    <table style="border-collapse:collapse; line-height:24px; margin:0; padding:0; width:100%; font-size:17px; color:#373737; background:#F9F9F9"
           width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important; border-collapse:collapse"
                valign="top">
            </td>
        </tr>
        <tr>
            <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important; border-collapse:collapse"
                valign="top">
                <table style="border-collapse:collapse; background:white; border-radius:0.5rem; margin-bottom:1rem"
                       align="center" cellspacing="0" cellpadding="32"
                       border="0">
                    <tbody>
                    <tr>
                        <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important; border-collapse:collapse"
                            width="546" valign="top">
                            <div style="max-width:600px; margin:0 auto">
                                <div style="background:white; border-radius:0.5rem; margin-bottom:1rem">
                                    <p style="font-size:17px; line-height:24px; margin:0 0 16px">
                                        @really_did@</p>
                                    <table style="border-collapse:collapse; width:100%">
                                        <tbody>
                                        <tr style="width:100%">
                                            <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important; border-collapse:collapse; width:100%; text-align:center; padding:1rem 0 1rem">
                                                <span style="display:inline-block; border-radius:4px; background:#1f8b5f; border-bottom:2px solid #1f8b5f"><a
                                                        href="http://@domain_port@/reset_pass/@checksum@"
                                                        target="_blank"
                                                        rel="noopener noreferrer"
                                                        style="color:white; font-weight:normal; text-decoration:none; word-break:break-word; font-size:20px;
                                                        line-height:26px; border-top:14px solid; border-bottom:14px solid; border-right:32px solid;
                                                        border-left:32px solid; background-color:#2ab27b; border-color:#2ab27b; display:inline-block;
                                                        letter-spacing:1px; min-width:80px; text-align:center; border-radius:4px">@butt_choose@</a></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p style="font-size:0.9rem; line-height:20px; margin:0 auto 1rem; color:#AAA; text-align:center; max-width:100%; word-break:break-word">
                                        @raw_link@<br><a
                                            href="http://@domain_port@/reset_pass/@checksum@"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            style="color:#439fe0; font-weight:bold; text-decoration:none; word-break:break-word">http://@domain_port@/reset_pass/@checksum@</a>
                                    </p>
                                    <p style="font-size:17px; line-height:24px; margin:0 0 16px">
                                        @really_not@</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

